{% extends "classic/base.html" %}

{% block content %}

        <!-- Page Header-->
        <header class="masthead">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>{{ post.title }} - MODEL</h1>
                            <h2 class="subheading">{{ post.description }}</h2>
                            <span class="meta">
                                {{ _('Posted by') }}
                                <a href="#!">{{ post.author.name }}</a>
                                {{ _('on') }} {{ date_format(post.published_at) }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        {{ post.body | safe }}
                    </div>
                </div>
            </div>
        </article>

{% endblock %}