{% extends "classic/base.html" %}

{% block content %}

        <!-- Page Header-->
        <header class="masthead">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>{{ post.title }}</h1>
                            <h2 class="subheading">{{ post.description }}</h2>
                            <span class="meta">
                                {{ _('Posted by') }}
                                <a href="#!">{{ post.author.name }}</a>
                                {{ _('on') }} {{ date_format(post.published_at) }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        {{ post.body | safe }}
                        <form method="post">
                            <label for="author">Name</label>
                            <input type="text" id="author" name="author" required>
                            <br/>
                            <label for="author_email">Email</label>
                            <input type="email" id="author_email" name="author_email" required>
                            <br/>
                            <label for="content">Comment</label>
                            <textarea id="content" name="content"
                                      rows="5" cols="33">
                            It was a dark and stormy night...
                            </textarea>
                            <br/>
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <input type="submit" value="Submit">
                        </form>
            </div>
                    </div>
            </div>
                </div>
        </article>

{% endblock %}